# Copy this file to .env.weather_email, fill real values, then run:
# chmod 600 .env.weather_email
#
# Gmail example:
# WEATHER_SMTP_HOST='smtp.gmail.com'
# WEATHER_SMTP_PORT='587'
# WEATHER_SMTP_STARTTLS='1'
# WEATHER_SMTP_SSL='0'
# WEATHER_SMTP_USER='your_sender@gmail.com'
# WEATHER_SMTP_PASSWORD='your_gmail_app_password'
# WEATHER_MAIL_FROM='your_sender@gmail.com'
# WEATHER_MAIL_TO='rabbit.4liwell@gmail.com'

WEATHER_SMTP_HOST='smtp.gmail.com'
WEATHER_SMTP_PORT='587'
WEATHER_SMTP_STARTTLS='1'
WEATHER_SMTP_SSL='0'
WEATHER_SMTP_USER='your_sender@gmail.com'
WEATHER_SMTP_PASSWORD='your_app_password'
WEATHER_MAIL_FROM='your_sender@gmail.com'
WEATHER_MAIL_TO='rabbit.4liwell@gmail.com'
